<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Admin page</title>
</head>
<body>
    <h1> User list</h1>
    <fieldset class="field_set" >
    <table>
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th scope="row">Name</th>
            <th scope="row">Password</th>
            <th scope="row">Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>

            <td th:class="${user.wanna_admin ? 'see' : 'not_see'}">
                <form th:action="@{/admin/set_admin}" method="post" style="display:inline">
                    <input type="hidden" th:value="${user.username}" name="username">
                    <button type="submit" value="make_admin"> Set admin</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </fieldset>
    <fieldset class="field_set">
        <a th:href="@{home}">Back to home</a> <br>
    </fieldset>

</body>
</html>