<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
    <h1> Список пользователей</h1>
    <table>
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th scope="row">Name</th>
            <th scope="row">Password</th>
            <th scope="row">Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <fieldset>
        <a th:href="@{home}">В главное меню</a> <br>
    </fieldset>

</body>
</html>