<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinates list</title>
</head>
<body>
    <h1>Coordinates list</h1>
    <table>
        <thead>
            <tr>
                <th scope="row">Id</th>
                <th scope="row">X</th>
                <th scope="row">Y</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="coordinate: ${coordinates}">
                <td th:text="${coordinate.id}"></td>
                <td th:text="${coordinate.x}"></td>
                <td th:text="${coordinate.y}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>