<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Hello</title>
</head>
<body>

    <fieldset class="field_set" sec:authorize="isAuthenticated()">
        <a th:href="@{home}">Back to home</a>
    </fieldset>

    <fieldset class="field_set">
        <a th:href="@{login}">Login</a>
    </fieldset>
    <fieldset class="field_set">
        <a th:href="@{registration}">Registration</a>
    </fieldset>

</body>
</html>