<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Title</title>
</head>

<body>
    <h1>Authorisation</h1>
    <div>
        <form name="f" th:action="@{/perform-login}" method="post">

            <div th:if="${param.error}" class="alert alert-error">
                Wrong name or password.
            </div>

            <fieldset class="field_set">
                <legend>Вход</legend>
                <table>
                    <tbody>
                        <tr>
                            <td> <label for="username">Username</label> </td>
                            <td> <input type="text" id="username" name="username"/> </td>
                        </tr>
                        <tr>
                            <td> <label for="password">Password</label> </td>
                            <td> <input type="password" id="password" name="password"/> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> <button type="submit" class="btn">Login</button> </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>
    <div>
        <fieldset class="field_set">
            <a th:href="@{hello}">Back</a> <br>
        </fieldset>
    </div>
</body>

</html>


