<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<body>

    <h1>Регистрация</h1>

    <form name="f" th:action="@{registration}" th:object="${userForm}" method="post">
        <fieldset>
            <legend>Зарегистрироваться</legend>

            <table>
                <tbody>
                <tr>
                    <td> <label for="username">Имя</label> </td>
                    <td> <input type="text" id="username" name="username"/> </td>
                </tr>
                <tr>
                    <td> <label for="password">Пароль</label> </td>
                    <td> <input type="password" id="password" name="password"/> </td>
                </tr>
                <tr>
                    <td> <label for="passwordConfirm">Подтверждение пароля</label> </td>
                    <td> <input type="password" id="passwordConfirm" name="passwordConfirm"/> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> <button type="submit" class="btn">Зарегистрироваться</button> </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

    <div>
        <fieldset>
            <a th:href="@{hello}">Ко входу</a> <br>
        </fieldset>
    </div>
</body>
</html>