<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Movies list</title>
</head>
<body>
    <h1>Movies list</h1>
    <fieldset>
        <table>
            <thead>
            <tr>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row">Id</th>
                <th scope="row">Name</th>
                <th scope="row">Coordinate X</th>
                <th scope="row">Coordinate Y</th>
                <th scope="row">Creation Date</th>
                <th scope="row">Oscar amount</th>
                <th scope="row">Budget</th>
                <th scope="row">Total boxing office</th>
                <th scope="row">MPAA Rating</th>
                <th scope="row">Director</th>
                <th scope="row">Screenwriter</th>
                <th scope="row">Operator</th>
                <th scope="row">Length</th>
                <th scope="row">Golden palm amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie: ${movies}">
                <td>
                    <form th:action="@{deleteMovie}" method="post">
                        <input type="hidden" th:value="${movie.id}" name="movieId"/>
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{updateMovie}" method="post">
                        <input type="hidden" th:value="${movie.id}" name="movieId"/>
                        <button type="submit">Update</button>
                    </form>
                </td>

                <td th:text="${movie.id}"></td>
                <td th:text="${movie.name}"></td>
                <td th:text="${movie.coordinates.x}"></td>
                <td th:text="${movie.coordinates.y}"></td>
                <td th:text="${movie.creationDate}"></td>
                <td th:text="${movie.oscarsCount}"></td>
                <td th:text="${movie.budget}"></td>
                <td th:text="${movie.totalBoxOffice}"></td>
                <td th:text="${movie.mpaaRating}"></td>
                <td th:text="${movie.director.name}"></td>
                <td th:text="${movie.screenwriter.name}"></td>
                <td th:text="${movie.operator.name}"></td>
                <td th:text="${movie.length}"></td>
                <td th:text="${movie.goldenPalmCount}"></td>
                <!--                <td th:text="${movie.client}"></td>-->
            </tr>
            </tbody>
        </table>
    </fieldset>


    <fieldset>
        <a th:href="@{/home}">В главное меню</a> <br>
    </fieldset>

</body>
</html>