<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Movie</title>
</head>
<body>

    <h1>Добавить новый фильм</h1>

    <form name="f" th:action="@{newMovie}" th:object="${newMovie}" method="post">
        <fieldset>
            <legend>Создать</legend>

            <table>
                <tbody>
                <tr>
                    <td> <label for="name">Имя</label> </td>
                    <td> <input type="text" id="name" name="name"/> </td>
                </tr>
                <tr>
                    <td> <label for="coordinates.x">Coordinate x</label> </td>
                    <td> <input type="text" id="coordinates.x" name="coordinates.x"/> </td>
                </tr>
                <tr>
                    <td> <label for="coordinates.y">Coordinate y</label> </td>
                    <td> <input type="text" id="coordinates.y" name="coordinates.y"/> </td>
                </tr>

                <tr>
                    <td> <label for="oscarsCount">количество оскаров</label> </td>
                    <td> <input type="text" id="oscarsCount" name="oscarsCount"/> </td>
                </tr>
                <tr>
                    <td> <label for="budget">бюджет</label> </td>
                    <td> <input type="text" id="budget" name="budget"/> </td>
                </tr>
                <tr>
                    <td> <label for="totalBoxOffice">собранная касса</label> </td>
                    <td> <input type="text" id="totalBoxOffice" name="totalBoxOffice"/> </td>
                </tr>
                <tr>
                    <td> <label for="mpaaRating">рейтинг фильма</label> </td>
                    <td>
                        <select id="mpaaRating">
                            <option value="PG">PG</option>
                            <option value="R">R</option>
                            <option value="NC_17">NC 17</option>
                        </select>
                    </td>
                </tr>


                <tr>
                    <td> <label for="director">директор</label> </td>
                    <td> <input type="text" id="director" name="director"/> </td>
                </tr>
                <tr>
                    <td> <label for="screenwriter">сценарист</label> </td>
                    <td> <input type="text" id="screenwriter" name="screenwriter"/> </td>
                </tr>
                <tr>
                    <td> <label for="operator">оператор</label> </td>
                    <td> <input type="text" id="operator" name="operator"/> </td>
                </tr>
                <tr>
                    <td> <label for="length">длинна</label> </td>
                    <td> <input type="text" id="length" name="length"/> </td>
                </tr>
                <tr>
                    <td> <label for="goldenPalmCount">количество "золотых пальм"</label> </td>
                    <td> <input type="text" id="goldenPalmCount" name="goldenPalmCount"/> </td>
                </tr>
                <tr>
                    <td> <label for="genre">Genre</label> </td>
                    <td>
                        <select id="genre">
                            <option value="ACTION">Action</option>
                            <option value="MUSICAL">Musical</option>
                            <option value="ADVENTURE">Adventure</option>
                            <option value="HORROR">Horror</option>
                            <option value="SCIENCE_FICTION">Science fiction</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td> </td>
                    <td> <button type="submit" class="btn">Create</button> </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>


</body>
</html>